name: Docker for GitHub runner

on:
  workflow_dispatch:
  workflow_call:
  push:
    paths:
      - 'runner/**'

env:
  # Use GitHub Packages as registry
  REGISTRY: ghcr.io
  # Image name will be the same as the repository ( <account>/<repo>)
  IMAGE_NAME: "${{ github.repository }}-runner"


jobs:
  # Push image to GitHub Packages.
  # See https://docs.docker.com/build/ci/github-actions/
  # and https://docs.github.com/en/packages/managing-github-packages-using-github-actions-workflows/publishing-and-installing-a-package-with-github-actions
  push:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - name: Check out docker files
        uses: actions/checkout@v4
        with:
          submodules: false

      - name: Log in to registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.PACKAGE_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          push: true
          context: ./runner
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          secrets: |
            GH_TOKEN=${{ secrets.GH_TOKEN }}
